.navbar {
    grid-area: navbar;
    background-color: cornflowerblue;

    }
.navbar-item {
    font-size: 20px;
    color: white;
    text-align: center;
}
.asidebar {
    grid-area: asidebar;
   }
.main {
    grid-area: main;
    display: flex;
    gap: 20px;
    }
.footer {
    grid-area: footer;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'navbar navbar'
    'asidebar main'
    'footer footer';
    grid-template-columns: 1fr 90%;
    background-color:peachpuff;
}
.box {
    border: solid 1px black
}
.card {
    width: 20rem;
    border: solid 1px black;
}
.bg {
    background-position: center;
    background-size: cover;
}
.imagen1{
    grid-area:a;
    background-color:white;
   
}
.imagen2 {
    grid-area: b;
    background-color:white;
    
}
.imagen3 {
    grid-area: c;
    background-color:white;
   
}
.imagen4 {
    grid-area: d;
    background-color:white;
}
.imagen5 {
    grid-area: e;
    background-color:white;
}
.imagen6 {
    grid-area: f;
    background-color:white;
}

.gallery {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'a b c'
    'd e f ';
    flex-grow: 1;
   }