.navbar {
    grid-area: navbar;
    background-color:rgb(71, 3, 88);
    height: 90px;

    }
.navbar-item {
    font-size: 30px;
    color: white;
    text-align: center;
}
.asidebar {
    grid-area: asidebar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   }
.main {
    grid-area: main;
    display: flex;
    gap: 20px;
    justify-content: center;
    }
.footer {
    grid-area: footer;
    background-color: white; 
}
.pie-pagina {
    color: rgb(71, 3, 88);
    display: flex;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'navbar navbar'
    'asidebar main'
    'footer footer';
    grid-template-columns: 1fr 90%;
    background-color:peachpuff;
}
.box {
    border: solid 1px black
}
.card {
    width: 20rem;
    border: solid 1px black;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria {
    list-style: none;
    font-size: 18px;
}

.list-item {
   list-style: none;
   color: white;
   font-size: 20px
}
.list {
    background-color: rgb(71, 3, 88);
    display: flex;
    flex-grow: 0.3;
    flex-basis: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bg {
    background-position: center;
    background-size: cover;
}

.imagen1{
    grid-area:a;
    background-color:white;
    display: flex;
    flex-direction: column;
    
   
}
.imagen2 {
    grid-area: b;
    background-color:white;
    display: flex;
    flex-direction: column;
    
}
.imagen3 {
    grid-area: c;
    background-color:white;
    display: flex;
    flex-direction: column;
   
}
.imagen4 {
    grid-area: d;
    background-color:white;
    display: flex;
    flex-direction: column;
}
.imagen5 {
    grid-area: e;
    background-color:white;
    display: flex;
    flex-direction: column;
}
.imagen6 {
    grid-area: f;
    background-color:white;
    display: flex;
    flex-direction: column;
}

.gallery {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'a b c'
    'd e f ';
    flex-grow: 0.3;
    flex-basis: 70%;
    grid-template-columns: 30% 30% 30%;
   }